In [52]:
import pandas as pd

In [53]:
MatrizConfusion_0 = pd.read_csv("MatricesConfusion_2/MatrizConfusion0.csv")
MatrizConfusion_0

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [54]:
MatrizConfusion_1 = pd.read_csv("MatricesConfusion_2/MatrizConfusion1.csv")
MatrizConfusion_1

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [55]:
MatrizConfusion_4= pd.read_csv("MatricesConfusion_2/MatrizConfusion4.csv")
MatrizConfusion_4

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [56]:
MatrizConfusion_5 = pd.read_csv("MatricesConfusion_2/MatrizConfusion5.csv")
MatrizConfusion_5

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [57]:
MatrizConfusion_6 = pd.read_csv("MatricesConfusion_2/MatrizConfusion6.csv")
MatrizConfusion_6

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [58]:
MatrizConfusion_7 = pd.read_csv("MatricesConfusion_2/MatrizConfusion7.csv")
MatrizConfusion_7

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [59]:
MatrizConfusion_8 = pd.read_csv("MatricesConfusion_2/MatrizConfusion8.csv")
MatrizConfusion_8

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27

In [60]:
MatrizConfusion_9 = pd.read_csv("MatricesConfusion_2/MatrizConfusion9.csv")
MatrizConfusion_9

  Unnamed: 0  Predijo Si  Predijo No
0         Si           3           0
1         No           0          27