In [ ]:
import pandas as pd

In [ ]:
MetricasResultado = pd.read_csv("MetricasDataFrameFinal.csv")
MetricasResultado

,Unnamed: 0,Accuracy,PrecisionVerdadero,RecallVerdadero,F1_Score_Verdadero,PrecisionFalso,RecallFalso,F1_Score_Verdadero.1
0,0,0.933333,0.333333,1.0,0.5,1.0,0.931034,0.964286
1,1,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
2,2,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
3,3,0.900000,0.000000,0.0,0.0,1.0,0.900000,0.947368
4,4,0.900000,0.000000,0.0,0.0,1.0,0.900000,0.947368
5,5,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
6,6,0.966667,0.666667,1.0,0.8,1.0,0.964286,0.981818
7,7,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000
8,8,0.966667,0.666667,1.0,0.8,1.0,0.964286,0.981818
9,9,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000